[submodule "backend/invoice-service"]
	path = backend/invoice-service
	url = https://gitlab.w-hs.de/DevDynasty/eai/invoice-service
[submodule "backend/renting-machine-service"]
	path = backend/renting-machine-service
	url = https://gitlab.w-hs.de/DevDynasty/eai/renting-machine-service
[submodule "backend/jobs/rental-flow-jobs"]
	path = backend/jobs/rental-flow-jobs
	url = https://gitlab.w-hs.de/DevDynasty/eai/rental-flow-jobs
[submodule "backend/gateway"]
	path = backend/gateway
	url = https://gitlab.w-hs.de/DevDynasty/eai/gateway
[submodule "backend/card-service"]
	path = backend/card-service
	url = https://gitlab.w-hs.de/DevDynasty/eai/card-service
[submodule "frontend/renting-machine-monitor"]
	path = frontend/renting-machine-monitor
	url = https://gitlab.w-hs.de/DevDynasty/eai/renting-machine-monitor
[submodule "frontend/labor-dashboard"]
	path = frontend/labor-dashboard
	url = https://gitlab.w-hs.de/DevDynasty/eai/labor-dashboard
